body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
}

header {
    background-color: pink;
}

header h1 {
    margin: 0;
}

nav {
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(76, 233, 233);
}

nav a {
    display: block;
    padding: 10px;
    background-color: blueviolet;
    color: whitesmoke;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
    color: rgba(33, 33, 33, 0.5);
    background-color: white;
}

.row {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.card {
    border: thin solid black;
    box-shadow: 3px 3px 3px rgba(40, 40, 40, 0.5);
    width: 250px;
}

.card figure {
    margin: 0;
}

.card img {
    width: 100%;
}

@media ONLY screen AND (max-width: 900px) {
    .row {
        flex-direction: column;
        align-items: center;
    }
    .card {
        margin-bottom: 20px;
        width: 90%;
    }
    .feature {
        order: -1;
    }
}


@media ONLY screen AND (max-width: 600px) {
    header {
        background-color: pink;
    }
    nav {
        flex-direction: column;
    }
    nav a {
        border-bottom: thin solid #fff;
        background-color: rgb(76, 233, 233);
    }
    
}
