<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page Layout</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="wrapper">
        <header>
            <h1>roller coaster</h1>
        </header>
        <nav>
            <a href="#">Flying</a>
            <a href="#">Floorless</a>
            <a href="#">Wings</a>
            <a href="#">Standing</a>
            <a href="#">Water Coaster</a>
            <div class="clear"></div>
        </nav>
        <main>
            <figure class="pic">
                <img src="rollercoaster.jpg" alt="Roller Coaster">
                <figcaption>Roller Coaster<br>Cylon and Human</figcaption>
            </figure>
            <p>A roller coaster is an amusemeent ride that uses an evelated railroad track to transport passengers on train through sharp curves, steep drops, and various other features designed to deliver an exciting experience. These trains are made up of open cars linked together in a single sequence and are commonly found in theme parks around the world. The first appearance of roller coaster was in the 17th century, and one of the earliest known patents for a roller coaster design was awarded to LaMarcus Adna Thompson in 1885, inspired by the Switchback Railway that debuted at Coney Island a year earlier.</p>

            <p>Typically, the tarck is constructed as a continuous loop, allowing the train to depart from and eventually return to the same station. There is also a variation known as the shuttle roller coaster, where the tarin reverses its direction at some point during the ride to travel back along the same track. There are only two types of roller coasters, wooden and steel. As time goes by, there are many variation types of roller coasters all around the world, such as indoor, move backwards, flying, etc.</p>
            <p class="strong">Click the links above to know more about the types of roller coaster according to the train types.</p>
            <p class="end"></p>
        </main>
    </div>
        <footer>
            &copy; 2025 Diantha Nugraha
        </footer>
    
</body>
</html>