body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #fff;
    color: rgb(51, 51, 51);
}

header {
    background-color: #def2f1;
    margin: 0;
    padding: 5px;
    color: #17252a;
    text-align: center;
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;

}

nav {
    display: flex;
    justify-content: space-evenly;
    background-color: #17252a;
    padding: 10px;
    box-sizing: border-box;
}

nav a {
    display: block;
    padding: 10px;
    background-color: #2b7a78;
    color: whitesmoke;
    text-decoration: none;
    margin: 0 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
    color: #17252a;
    background-color: white;
}

.title {
    text-align: center;
    padding: 20px;
    font-size: 1.5em;
    color: #17252a;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
}

.sidebar {
    flex: 1;
    max-width: 25%;
    background-color: #3aafa9;
    padding: 20px;
    margin-right: 20px;
    border-radius: 8px;
    box-sizing: border-box;
}

.side-title {
    font-size: 1.4em;
    color: black;
    margin-bottom: 15px;
    font-family: 'Times New Roman', Times, serif;

}

.sidebar ul {
    list-style-type: disc;
    margin-top: 15px;
    padding-left: 20px;
}

.sidebar figure img {
    border-radius: 8px;
    margin-bottom: 10px;
    width: 100%;
}

.content {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    max-width: 1200px;
    margin: auto;
    box-sizing: border-box;
}

main {
    flex: 3;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    padding: 10px;
    box-sizing: border-box;
}

main h2 {
    color: #17252a;
    font-size: 1.2em;
    margin-bottom: 10px;
    font-family: 'Times New Roman', Times, serif;
}

article {
    background-color: #def2f1;
    border: thin solid black;
    border-radius: 8px;
    box-shadow: 3px 3px 3px rgba(40, 40, 40, 0.5);
    padding: 15px;
    width: 100%;
    max-width: 30%;
    text-align: center;
    box-sizing: border-box;
    transition: transform 0.5s, box-shadow 0.5s;

}

article figure {
    margin: 0;
}

article img {
    border-radius: 8px;
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}
article:active {
    transform: scale(1.05);
    box-shadow: 0 0 20px black;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #def2f1;
    color: #17252a;
    -webkit-flow-into: 0.8em;
    margin-top: 30px;
    box-sizing: border-box;
}

@media ONLY screen AND (max-width: 700px) {
    header {
        background-color: #def2f1;
    }
    nav {
        flex-direction: column;
    }
    nav a {
        border-bottom: thin solid #fff;
        background-color: #2b7a78;
    }
    
    .content {
        flex-direction: column;
        padding: 15px;
    }
    .sidebar {
        max-width: 100%;
        order: 2;
        margin-right: 0;
        margin-top: 20px;
    }
    main {
        max-width: 100%;
        order: 1;
    }
    
    article {
        max-width: 100%;
    }
    .feature {
        order: -1;
    }
}
